head
    title Laboratorio
    link(href="https://cdn.datatables.net/v/dt/dt-1.13.8/b-2.4.2/datatables.min.css" rel="stylesheet")

section#viewLaboratorios
    h2 Listado de Laboratorios
    div(style="text-align: center;")
        button(onclick="alta()") Alta de laboratorio
    //label Si desea dar de alta escriba el endpoint '/laboratorios/alta'
    br
    br

    table(id="laboratorios" class="display")
        thead
            tr 
                th
                th Nombre del laboratorio
                th Pais
                th Email
                th Telefono
                th Longitud
                th Latitud
                th 
    script(src='https://code.jquery.com/jquery-3.6.0.min.js')
    script(src="https://cdn.datatables.net/v/dt/dt-1.13.8/b-2.4.2/datatables.min.js")

script.
    //let table = new DataTable('#laboratorios');
    let labs = !{JSON.stringify(laboratorios)};
    let tabla 
    $(document).ready(function() {
       tabla = $('#laboratorios').DataTable({
            data: labs,
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-AR.json'
            },
            columns:[
                {data: 'idLaboratorio',
                    visible: false,
                    searchable: false
                },
                {data: 'nombreLaboratorio'},
                {data: 'pais'},
                {data: 'email'},
                {data: 'telefono'},
                {data: 'longitud'},
                {data: 'latitud'},
                {
                    data: null,
                    defaultContent: 
                        '<button type="button" class="btn btn-primary" display="inline">Editar</button>' +
                        '<button type="button" class="btn btn-danger">Eliminar</button>'
                }
            ]
        });
    });
    $(document).ready(function() {
        tabla.on('click', 'button', function (fila) {
            let data = tabla.row(fila.target.closest('tr')).data();
            if(fila.target.innerText == "Eliminar"){
                if(confirm("¿Desea eliminar el laboratorio?")){
                    $.post('/laboratorios/'+data.idLaboratorio+'?_method=DELETE', function(data){
                        
                    })
                }
            } else {window.location.href= "/laboratorios/" + data.idLaboratorio}
        })
    });
    function alta(){
        window.location.href= "/laboratorios/alta"
    }